<div   style="border: 2px solid red">

    <p> MY PRODUCT from the Product Component</p>
    
    <h3>Product Details</h3>
    <img  (mouseenter)="trackMouse($event)" [src]="product.imageUrl" [width]="product.imageWidth" height="100px">
    <ul>
        <li>Name : {{product.name}}</li>
        <li>Price : {{product.price}}</li>
        <li><div [style.color]="product.isSpecial?'red':'green'"> SPECIAL </div></li>
        <li><div [class.inStock]="product.inStock"> IN STOCK </div></li>
    </ul>
    
    <br> ONE WAY EVENT BINIDING DEMO 
    <input type="text" (input)="trackTextFeild(t1.value)" #t1 >
    <br>
    <button name="b1" class="btn btn-primary" (click)="onSave($event)">Save 1</button>
    <br>
    <button name="b2" class="btn btn-primary" (click)="onSave($event)">Save 2</button>
    
    <br> TWO WAY EVENT BINIDING DEMO 
    <input type="text" [(ngModel)]="product.name" >
    </div>
    