<div class="row">
    
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <b>All Employees Information</b>
            </div>
            <div class="card-body">
                <table class="table table-stripped">
                    <tr>
                        <th>Emp Number</th>
                        <th>Emp First Name</th>
                        <th>Emp Last Name</th>
                        <th>Emp Email</th>
                        <th>Operations</th>
                    </tr>
                    <tr  *ngFor="let emp of empinfo | paginate:{itemsPerPage:5,currentPage:p}">
                        <td>{{emp.id}}</td>
                        <td>{{emp.firstName}}</td>
                        <td>{{emp.lastName}}</td>
                        <td>{{emp.emailId}}</td>
                        <td>
                            <input type="button"  value="View Emp Info"  class="btn btn-info btn-sm" (click)="getOneEmpDetails(emp.id)" />
                            &nbsp;&nbsp;&nbsp;
                            <input type="button"  value="Delete"  class="btn btn-danger btn-sm" (click)="DeleteEmployeeInfo(emp.id)" />
                            &nbsp;&nbsp;&nbsp;
                            <input type="button"  value="Modify"  class="btn btn-primary btn-sm" (click)="UpdateEmpInfo(emp.id)" />
                        </td>
                    </tr>
                    <pagination-controls (pageChange)="p = $event"></pagination-controls>
                </table>
            </div>
        </div>
    </div>
</div>