<div>
    <h2>Welcome to home page User {{user}}</h2>
</div>
<div id="servicediv" class="list-group">
<h2>Available Service for You</h2>
<a routerLink="/applyforaadhar"  class="list-group-item list-group-item-action">Apply for new Aadhar Card</a>
<a routerLink="/updateAadhar"  class="list-group-item list-group-item-action">Update Aadhar</a>
<a routerLink="/deleteAadhar"  class="list-group-item list-group-item-action">Deletion of Aadhar</a>
<a routerLink="/duplicateaadhar"  class="list-group-item list-group-item-action">Apply for Duplicate Aadhar</a>
</div>